:root {
    --black: #000000;
    --white: #FFFFFF;
    --green: #9caad8;
    --very-light-pink: #b4aed3;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    height: 84px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--very-light-pink);
}

header h1 {
    justify-self: center;
    margin-bottom: 0;
    margin-top: 12px;
    color: var(--green);
}

h3 {
    text-align: center;
    color: var(--green);
    font-weight: bold;
    margin-top: 0px;
}

header p {
    justify-self: center;
    margin-top: 1px;
    color: var(--very-light-pink);
    font-weight: bold;
    margin-bottom: 1px;
}

.main-container {
    display: grid;
    justify-content: center;
}

.formula {
    align-self: center;
    border: 1px solid var(--green);
    border-radius: 8px;
    display: grid;
    place-items: center;
    padding: 24px;
}

.formula img {
    width: 150px;
    height: 150px;
}

.formula input,
.formula select {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 24px;
    width: 100%;
}

.formula input::placeholder {
    color: var(--green);
}

.form-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

.primary {
    background-color: var(--green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height: 50px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 24px;
}

.title {
    margin: 1px;
    color: var(--green);
    font-weight: bold;
    font-size: var(--lg);
}

.label {
    color: var(--very-light-pink);
    font-weight: bold;
    font-size: var(--md);
    margin: 1px;
}

.description {
    text-align: center;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
}

.resultado {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 12px;
    margin-top: 10px;
    width: 300px;
}

.resultado p {
    margin: 0;
    font-size: var(--md);
}