<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/figuras.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>Figuras geométricas | Curso Práctico de JavaScript en Platzi</title>
</head>
<body>
    <header>
        <nav>
            <div class="navbar-left">
                <ul>
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./figuras.html">Figuras</a>
                    </li>
                    <li>
                        <a href="./descuentos.html">Descuentos</a>
                    </li>
                    <li>
                        <a href="./promedio.html">Estadística</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul>
                    <li class="navbar-email">balarama10@gmail.com</li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="titulo">
        <h1>
            Figuras Geométricas
        </h1>
        <p>Este es el primer taller del curso práctico de JavaScript</p>
    </div>

    <div class="main-container">
        <section>
            <div class="figura">
                <p class="title">
                    Calcula el área y perímetro de un cuadrado
                </p>
                <img src="../assets/img/cuadrado.png" alt="cuadrado">
                
                <div class="form-container">
                    <form action="" class="form">
                        <p class="label">
                            Escribe la medida de uno de los lados de tu cuadrado
                        </p>
                        <input id="InputCuadrado" type="number">
                        <button class="primary" type="button" onclick="analisisCuadrado()">
                            Calcular
                        </button>
                    </form>
                </div>
                <p class="label">El perimetro es:</p>
                <div class="resultado">
                    <p id="perimetroCuadrado">

                    </p>
                </div>
                <p class="label">El área es:</p>
                <div class="resultado">
                    <p id="areaCuadrado">

                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="figura">
                <p class="title">
                    Calcula el área y perímetro de un triángulo
                </p>
                <img src="../assets/img/triangulo.png" alt="triangulo">
                
                <div class="form-container">
                    <form action="" class="form">
                        <p class="label">
                            Escribe las medidas de tu triángulo.
                        </p>
                        <p class="description">
                            Para saber la altura de un triángulo isósceles por favor escriba 
                            las medidas del lado 1, lado 2 y de la base.
                        </p>
                        <input type="number" placeholder="Lado 1" id="InputLado1">
                        <input type="number" placeholder="Lado 2" id="InputLado2">
                        <input type="number" placeholder="Base" id="InputBase">
                        <input type="number" placeholder="Altura" id="InputAltura">
                        <button class="primary" type="button" onclick="analisisTriangulo()">
                            Calcular
                        </button>
                    </form>
                </div>
                <p class="label">El perimetro es:</p>
                <div class="resultado">
                    <p id="perimetroTriangulo">

                    </p>
                </div>
                <p class="label">El área es:</p>
                <div class="resultado">
                    <p id="areaTriangulo">

                    </p>
                </div>
                <p class="label">Altura isósceles es:</p>
                <div class="resultado">
                    <p id="alturaTriangulo">

                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="figura">
                <p class="title">
                    Calcula el área y perímetro de un circulo
                </p>
                <img src="../assets/img/circulo.png" alt="circulo">
                
                <div class="form-container">
                    <form action="" class="form">
                        <p class="label">
                            Escribe la medida del radio de tu circulo
                        </p>
                        <input id="InputRadio" type="number">
                        <button class="primary" type="button" onclick="analisisCirculo()">
                            Calcular
                        </button>
                    </form>
                </div>
                <p class="label">El perimetro es:</p>
                <div class="resultado">
                    <p id="perimetroCirculo">

                    </p>
                </div>
                <p class="label">El área es:</p>
                <div class="resultado">
                    <p id="areaCirculo">

                    </p>
                </div>
            </div>
        </section>
    </div>
    <script src="../js/figuras.js"></script>
</body>
</html>